<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>user</param-name>
        <param-value>atguigu</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>123567</param-value>
    </context-param>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.atguigu.javaweb.LoginServlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>ForwardServlet</display-name>
        <servlet-name>ForwardServlet</servlet-name>
        <servlet-class>com.atguigu.javaweb.ForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardServlet</servlet-name>
        <url-pattern>/forwardServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>TestServlet</display-name>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.atguigu.javaweb.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>RedirectServlet</display-name>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>com.atguigu.javaweb.RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/redirectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>hellojsp</servlet-name>
        <jsp-file>/hello.jsp</jsp-file>
        <init-param>
            <param-name>test</param-name>
            <param-value>testValue</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>hellojsp</servlet-name>
        <url-pattern>/hellojsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>TestAttr</display-name>
        <servlet-name>TestAttr</servlet-name>
        <servlet-class>com.atguigu.javaweb.TestAttr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestAttr</servlet-name>
        <url-pattern>/testAttr</url-pattern>
    </servlet-mapping>
</web-app>